 body{
   background-color: ivory;
 }
 table{
    background-color: rgb(255, 255, 240);
    border: 0px solid rgba(1, 1, 19, 0.904);
}
td{
  /*background-color:rgba(0, 0, 255, 0.068);rgba(119, 34, 204, 0.007);*/
  text-align:center;
  width: 80px;
}
table button{
    color: rgb(213, 213, 233);
}