body{
    background-color: green;
}
.Tri1{
    margin-top: 100px;
    height: 0px;
    width: 0px;
    position: relative;
    left: 40%;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 100px solid rgb(243, 247, 247);
    z-index: 2;
}
.Tri2{
    height: 0px;
    width: 0px;
    position: relative;
    left: 40%;
    bottom: 90px;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 100px solid rgb(220, 190, 128);
    z-index:1;
}

.Tri3{
    height: 0px;
    width: 0px;
    position: relative;
    left: 40%;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 100px solid rgb(25, 170, 173);
    bottom: 180px

}